
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<nav>
  <div class="nav-wrapper">
    <img src="/assets/img/logo2.png" alt="logo" />
    <a class="brand-logo">Biblioteca Bohorquez</a>

    <ul class="right hide-on-med-and-down">

      <li><a routerLink="/" >Inicio</a></li>
      <li><a routerLink="books">Libros</a></li>
      <li><a href="#">Socios</a></li>
      <li><a href="#">Prestamos</a></li>

    </ul>
  </div>
</nav>



